[MONGO]
data_dir=/opt/credshed/db
server=172.17.0.1
port=27017
db=credshed
user=root
pass=INTHENAMEOFALLTHATISHOLYPLEASECHANGETHIS

[EMAIL ALERTS]
from=Credshed <credshed@example.com>
auth_user=credshed@example.com
auth_pass=changeme
mail_server=credshed.example.com
mail_port=25

[FILESTORE]
# directory where raw leaks are placed (optional)
# this is used to abbreviate full paths to relative paths in the API and web app
store_dir=/opt/credshed/raw

[SCRAPER]
paste_dir=/opt/credshed/pastes