### REQUIRED ###

[MONGO PRIMARY]
server=127.0.0.1
port=27000
db=credshed

[MONGO GLOBAL]
# username and password are applied to both instances
user=root
pass=INTHENAMEOFALLTHATISHOLYPLEASECHANGETHIS


### NOT REQUIRED ###

[MONGO METADATA]
server=127.0.0.1
port=27001
db=credshed

[EMAIL ALERTS]
from=CredShed <credshed@example.com>
auth_user=credshed@example.com
auth_pass=changeme
mail_server=credshed.example.com
mail_port=25

[FILESTORE]
# directory where raw leaks are placed
store_dir=/tmp/filestore

[SCRAPER]
paste_dir=/tmp/pastes