[Unit]
Description=CredShed Database
Requires=docker.service
After=docker.service

[Service]
WorkingDirectory=/opt/credshed/deploy
ExecStart=/usr/local/bin/docker-compose up
ExecStop=/usr/local/bin/docker-compose down

[Install]
WantedBy=multi-user.target