# required
[MONGO PRIMARY]
server=127.0.0.1
port=27000
db=credshed

# not required
[MONGO METADATA]
server=127.0.0.1
port=27001
db=credshed

[GLOBAL]
# username and password are applied to both instances
user=root
pass=INTHENAMEOFALLTHATISHOLYPLEASECHANGETHIS

[EMAIL ALERTS]
from=CredShed <credshed@example.com>
auth_user=credshed@example.com
auth_pass=changeme
mail_server=credshed.example.com
mail_port=25