[Unit]
Description=CredShed MongoDB
Requires=docker.service
After=docker.service

[Service]
WorkingDirectory=/opt/credshed/credshed/docker
ExecStart=/usr/local/bin/docker-compose up
ExecStop=/usr/local/bin/docker-compose down

[Install]
WantedBy=multi-user.target